<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ product.name }}</title>
</head>
<body>
    <h1>{{ product.name }}</h1>
    <p>Description: {{ product.description }}</p>
    <p>Price: {{ product.price }} Ksh</p>
    <p>Quantity: {{ product.quantity }}</p>
    <p>Delivery Mode: {{ product.delivery_mode }}</p>
      <div class="row">
                          <div class="col-8">
 <a href="{% url 'add_to_cart' products.id %}" class="btn btn-primary">Add to Cart</a>
                              </div>
                          </div>


</body>
</html>